body{background-color: black;}
.tv{position: absolute; z-index: 1; left: 0; top: 20px; border: 0 solid #000; }
.time img{position: absolute; z-index: 10; left: 620px; top: 440px; height: 75px;}



          /* Video başlangıçta gizli olacak */
          #videoContainer {
            display: none;
            position: relative;
            top: 17px; /* Videoyu yukarıda başlat */
            left: 4%;
            width: 80%; /* Genişliği ayarla */
            max-width: 900px; /* Maksimum genişlik */
            background: black;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
            
            
        }
    
        /* Video boyutlandırma */
        #myVideo {
            position: absolute;
            
            height: auto; /* Oranını koru */
            min-height: 364px; /* Maksimum yükseklik */
            z-index: 1;
        }


         /* Ses kontrol butonları */
    .volume-controls {
        bottom: 721.1px;
        left: 512px;
        position: relative;
        display: none; /* Başlangıçta gizli */
    }

    .volume-controls button {

        font-size: 14px;
        cursor: pointer;
        border: 1px;
        color: white;
        border-radius: 25px;
       
        
    }

    /* Ses seviyesi göstergesi */
    .volume-indicator {
        margin-top: 10px;
        font-size: 16px;
        color: black;
        bottom: 734px;
        left: 450px;
        position: relative;
       display: none;
    }

    #volumeBar {
        width: 100px;
        height: 10px;
        
    }

   .menu{border: 2px;}



   @media (min-width: 2540px) {
    #videoContainer {
        left: 2.85%!important; width: 26%!important;
    }
}
@media  (max-width: 1440px) {
    #videoContainer {
        left: 5%!important; width: 26%!important;
    }
}
@media (max-width: 1024px) {
    #videoContainer {
        left: 7.1%!important; width: 26%!important;
    }
}
@media  (max-width: 768px) {
    #videoContainer {
        left: 9.85%!important; width: 26%!important;
    }
}
@media  (max-width: 425px) {
    #videoContainer {
        left: 19.75%!important; width: 26%!important;
    }
}
@media (max-width: 375px) {
    #videoContainer {
        left: 20.85%!important; width: 26%!important;
    }
}
@media (max-width: 375px) {
    #videoContainer {
        left: 23.5%!important; width: 26%!important;
    }
}